.newcollections{
    height:170vh;
    margin-bottom: 5em;
}
.newcollections h1{
    text-align: center;
}
.newcollections hr{
    width:150px;
    border-radius: 5px;
    height: 5px;
    margin-left: 35em;
}
.collections{
    height:100vh;
    padding: 20px 80px 80px 80px;
    gap:20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.collections img{
    height:18em;
    width: 100%;
}